.list-group.tree-list {
    padding: 0;
    overflow: hidden;
}

.list-group.tree-list .list-group {
    margin-bottom: 0;
}

.list-group.tree-list .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}
